<div ng-controller="ClienteController as vm">
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <h3 class="page-header fontBig">Pesquisa Cliente</h1>
        </div>
        <div class="col-md-2 col-md-offset-5">
            <form class="form-inline" ng-submit="vm.search(vm.query)" name="searchForm">
                <label for="email" class="font">Email</label>
                <input type="searchPlace" class="form-control client-email" id="searchPlace" ng-model="vm.query.email">
                </br>
                <button type="submit" class="form-control client-search ">Buscar</button>
            </form>
        </div>
    </div>
    <div class="row" ng-show="vm.viewCliente">
        <div class="col-md-2 col-md-offset-5">
            <h2 class="page-header">Cadastro do Cliente</h1>
        </div>
        <div class="col-md-2 col-md-offset-5">
            <form class="form-inline" ng-submit="vm.save(vm.cliente)" name="saveForm">
                <div class="form-group">
                    <label for="marca">Nome</label>
                    <input type="text" class="form-control" name="nome" ng-model="vm.cliente.nome">
                </div>
                <div class="form-group">
                    <label for="marca">Email</label>
                    <input type="text" class="form-control" name="email" ng-model="vm.cliente.email">
                </div>
                <div class="form-group">
                    <label for="marca">Telefone</label>
                    <input type="text" class="form-control" mask="(999) 99999-9999" name="telefone" ng-model="vm.cliente.telefone">
                </div>
                <div class="form-group" ng-show="!vm.find">
                    <button type="submit" class="form-control client-search">Salvar</button>
                </div>
                <div class="form-group" ng-show="vm.find">
                      <button type="button" ng-click="vm.newVehicle(vm.cliente)" class="form-control client-search">Cadastrar Veículo</button>
                </div>
            </form>
        </div>
        </br>
        </br>
        </br>
        </form>
        </form>
    </div>
</div>
<script src="js/controllers/cliente.js"></script>