<div ng-controller="OrcamentoAceiteController as vm">
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <h2 class="page-header">Aceitar Orçamento</h1>
    </div>
    <div class="col-md-2 col-md-offset-5">
      <form class="form-inline" ng-submit="vm.save(vm.carro)" name="saveForm" ng-if="vm.orcamento.idStatus">
        <div class="form-group">
          <label for="ordem">Olá</label>
          <span ng-bind="vm.orcamento.nome"></span>
        </div>
        <div class="form-group">
          <label for="ordem">Orçamento Número</label>
          <span ng-bind="vm.orcamento.idOrdemServico"></span>
        </div>
        <div class="form-group">
          <label for="ordem">Descrição</label>
          <span ng-bind="vm.orcamento.descricao"></span>
        </div>
        <div class="form-group">
          <label for="ordem">Marca</label>
          <span ng-bind="vm.orcamento.marca"></span>
        </div>
        <div class="form-group">
          <label for="ordem">Modelo</label>
          <span ng-bind="vm.orcamento.modelo"></span>
        </div>
        <div class="form-group">
          <label for="ordem">Versão</label>
          <span ng-bind="vm.orcamento.versao"></span>
        </div>
        <div class="form-group">
          <label for="ordem">Valor</label>
          <span ng-bind="vm.orcamento.orcamento | currency:'R$ '"></span>
        </div>
        <div class="form-group text-center">
          <button type="button" ng-click="vm.aceito(vm.orcamento, true)" class="form-control">Aceito</button>
          <br>
          <button type="button" ng-click="vm.aceito(vm.orcamento, false)" class="form-control">Não Aceito</button>
        </div>

        </br>
        </br>
        </br>
      </form>
    </div>
  </div>
</div>
<script src="js/controllers/orcamentoAceite.js"></script>