<!DOCTYPE html>
<html lang="pt-br" ng-app="fixMyLead">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>FIXMYLEAD</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/css/angular-toastr.css" />
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-cookies.min.js"></script>
    <script src="js/lib/angular-toastr.tpls.js"></script>
    <script src="js/main.js"></script>
</head>

<body>
    <!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-center">
                    <li>
                        <a href="#">Todos</a>
                    </li>
                    <li>
                        <a href="#">Serviço</a>
                    </li>
                    <li>
                        <a href="#">Serviço</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class=" navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-center">
                    <li>
                        <a href="#">
                            <i class="fa fa-car"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-car"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-car"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-car"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="hero-content">
            <div class="hero-content-inner">