<div class="container" ng-controller="HomeController as vm" ng-init="vm.listaCarros()">
    <div class="hero-content">
      <div class="hero-content-inner">
        <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <h3 class="page-header font" > {{vm.carros.length}} veículos no pátio !!!!</h1>
          </div>
          <div class="col-md-2 col-md-offset-5">
              <div class="col-md-6 home-car" ng-repeat="carro in vm.carros">
                <a href="/orcamento/{{carro.idOrdemServico}}/step">
                  <div class="row">
                    <div class="media-left all" >
                      <ul class="media-left">
                        <li class="media-left"><img class="media-object car" src="/images/logos/vw-logo.png" alt="..."></li>
                        <li class="media-left modelo font"> {{carro.modelo}}</li>
                        <li class="media-left"><button type="button" ng-click="vm.aceito(vm.orcamento, false)" class="form-control"> {{carro.status}}</button></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="media-left all" >
                        <ul class="media-left">
                            <li class="media-left ano font">{{carro.ano}} / {{carro.ano}}</li>
                            <li class="media-left placa"> {{carro.placa}}</li>
                            <li class="media-left dias" > <span class="fas fa-clock font" ng-bind=" vm.setDays(carro.prazoEstimado)"></span></li>
                       
                    </div>
                  <div class="row">
                      <div class="media-left all">
                          <ul class="media-left">
                              <li class="media-left nome"> <span class="fas fa-user font"></span> {{carro.nome}}</li>
                              <li class="media-left mecanico"><span class="fas fa-wrench font"></span>  Marcio</li> 
                      </div>
                  </div>
                </div>
          </div>
          <br><br><br>
        </div>
      </div>
    </div>
  </div>
  <script src="js/controllers/home.js"></script>