<div class="container" ng-controller="HomeController as vm" ng-init="vm.listaCarros()">
    <div class="hero-content">
      <div class="hero-content-inner">
        <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <h3 class="page-header">Lista de Veiculos</h1>
          </div>
          <div class="col-md-2 col-md-offset-5">
              <div class="col-md-6 home-car" ng-repeat="carro in vm.carros">
                <a href="/orcamento/{{carro.idOrdemServico}}/step">
                  <div class="row">
                    <div class="media-left all" >
                      <ul class="media-left">
                        <li class="media-left"><img class="media-object car" src="/images/logos/vw-logo.png" alt="..."></li>
                        <li class="media-left modelo"> {{carro.modelo}}</li>
                        <li class="media-left"><button type="button" ng-click="vm.aceito(vm.orcamento, false)" class="form-control">Não Aceito</button></li>
                      </ul>
                    </div>
                  </div>
                  <div class="row">
                    <div class="media-left all" >
                        <ul class="media-left">
                            <li class="media-left ano">{{carro.ano}} / {{carro.ano}}</li>
                            <li class="media-left placa"> {{carro.placa}}</li>
                            <li class="media-left dias fa fa-clock"  style="font-size:16px"> 2 dias</li>
                       
                    </div>
                  <div class="row">
                      <div class="media-left all">
                          <ul class="media-left">
                              <li class="media-left nome fas fa-user"> {{carro.nome}}</li>
                              <li class="media-left mecanico fas fa-wrench"> Marcio</li> 
                      </div>
                    </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/controllers/home.js"></script>