<div class="row" ng-controller="CarroController as vm">
  <div class="col-md-2 col-md-offset-5">
    <h3 class="page-header">Pesquisa</h1>
  </div>
  <div class="col-md-2 col-md-offset-5">
    <form class="form-inline" ng-submit="vm.search(vm.carro)" name="searchForm">
      <label for="email">Placa</label>
      <input type="searchPlace" class="form-control" id="searchPlace" ng-model="vm.search.placa">
      </br>
      <button type="submit" class="form-control">Pesquisar</button>
    </form>
  </div>
</div>
<div class="row" ng-controller="CarroController as vm" ng-if="vm.carro">
  <div class="col-md-2 col-md-offset-5">
    <h2 class="page-header">Cadastro do Carro</h1>
  </div>
  <div class="col-md-2 col-md-offset-5">
    <form class="form-inline" ng-submit="vm.save(vm.carro)" name="saveForm">
      <div class="form-group">
        <label for="marca">Marca</label>
        <input type="text" class="form-control" name="marca" ng-model="vm.carro.make">
      </div>
      <div class="form-group">
        <label for="marca">Modelo</label>
        <input type="text" class="form-control" name="modelo" ng-model="vm.carro.model">
      </div>
      <div class="form-group">
        <label for="marca">Versão</label>
        <input type="text" class="form-control" name="versao" ng-model="vm.carro.version">
      </div>
      <div class="form-group">
        <label for="marca">Ano</label>
        <input type="text" class="form-control" name="ano" ng-model="vm.carro.year">
      </div>
      <div class="form-group">
        <label for="marca">Placa</label>
        <input type="text" class="form-control" name="placa" ng-model="vm.carro.plate">
      </div>
      <div class="form-group">
        <button type="submit" class="form-control">Salvar</button>
      </div></form></div></br></br></br>
      </form>
    </form>
  </div>
</div>

<script src="js/controllers/carro.js"></script>