<div ng-controller="OrcamentoController as vm">
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <h3 class="page-header">Pesquisa Ordens de Serviço</h1>
        </div>
        <div class="col-md-2 col-md-offset-5">
            <form class="form-inline" ng-submit="vm.search(vm.query)" name="searchForm">
                <label for="plate">Placa</label>
                <input type="searchPlace" class="form-control" id="searchPlace" ng-model="vm.query.plate">
                </br>
                <button type="submit" class="form-control">Pesquisar</button>
            </form>
        </div>
    </div>
    <div class="row" ng-show="vm.viewOrcamento">
        <div class="col-md-2 col-md-offset-5">
            <h2 class="page-header">Cadastro do Orçamento</h1>
        </div>
        <div class="col-md-2 col-md-offset-5">
            <form class="form-inline" ng-submit="vm.save(vm.orcamento)" name="saveForm">
                <div class="form-group">
                    <label for="description">Descrição</label>
                    <input type="text" class="form-control" name="description" ng-model="vm.orcamento.descricao">
                </div>
                <div class="form-group">
                    <label for="quote">Orçamento</label>
                    <input type="text" class="form-control" name="quote" ng-model="vm.orcamento.orcamento">
                </div>
                <div class="form-group">
                    <label for="deadline">Prazo Estimado</label>
                    <input type="text" class="form-control" name="deadline" ng-model="vm.orcamento.prazoEstimado">
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" name="status" ng-model="selected">
                            <option value="">--- Selecione o Status ---</option>
                            <option value="1">Entrada</option>
                            <option value="2">Em análise</option>
                            <option value="3">Aguardando aceite de orçamento</option>
                            <option value="4">Aguardando retirada</option>
                            <option value="5">Início conserto</option>
                            <option value="6">Aguardando peças</option>
                            <option value="7">Em execução</option>
                            <option value="8">Conserto finalizado, aguardando retirada</option>
                    </select>
                </div>
                <div class="form-group" ng-show="!vm.find">
                    <button type="submit" class="form-control">Salvar</button>
                </div>
                <div class="form-group" ng-show="vm.find">
                    <button type="submit" class="form-control">Finalizar Orçamento</button>
                </div>
            </form>
        </div>
        </br>
        </br>
        </br>
        </form>
        </form>
    </div>
</div>
<script src="js/controllers/orcamento.js"></script>